.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .container {
        max-width: unset;
        padding: 0;
    }

    &.wide {
        max-width: 1400px;
        width: 100%;
    }
}

section {
    margin: 2rem 0;

    .container {
        > :is(h1, h2, h3, h4, h5, h6) {
            margin-bottom: .25lh;
        }
    }
}
